{% extends "base.html" %}

{% block content %}
<head>
  <link rel="stylesheet" href="{{ url_for('static', filename='css/cart.css') }}">
</head>

<h2>
  {% if user_id == current_user.id %}
    Your Cart:
  {% else %}
    User ID {{ user_id }}'s Cart:
  {% endif %}
</h2>

<table class='table table-hover table-bordered container'>
  <thead class="thead-dark">
    <tr>
      <th>Product ID</th>
      <th>Quantity</th>
      {% if user_id == current_user.id %}
        <th>Actions</th>
      {% endif %}
    </tr>
  </thead>
  <tbody>
    {% if cart_items %}
      {% for item in cart_items %}
        <tr>
          <td>{{ item.product_id }}</td>
          <td>
            {% if user_id == current_user.id %}
              <form action="{{ url_for('cart.update_cart') }}" method="POST" class="inline-form">
                <input type="number" name="quantity" value="{{ item.quantity }}" min="0">
                <input type="hidden" name="product_id" value="{{ item.product_id }}">
                <button type="submit" class="btn btn-primary" aria-label="Update Quantity">Update</button>
              </form>
            {% else %}
              {{ item.quantity }}
            {% endif %}
          </td>
          {% if user_id == current_user.id %}
            <td>
              <form action="{{ url_for('cart.update_cart') }}" method="POST" class="inline-form">
                <input type="hidden" name="product_id" value="{{ item.product_id }}">
                <input type="hidden" name="quantity" value="0">
                <button type="submit" class="btn btn-danger" aria-label="Remove Item">Remove</button>
              </form>
            </td>
          {% endif %}
        </tr>
      {% endfor %}
      <!-- Display total price -->
      {% if user_id == current_user.id %}
      <tr>
        <td colspan="3" class="text-right"><strong>Total Price: ${{ total_price }}</strong></td>
      </tr>
      {% endif %}
      {% if cart_items and user_id == current_user.id %}
        <form action="{{ url_for('cart.submit_cart') }}" method="POST" id="submit-cart-form">
            <button type="button" class="btn btn-success" onclick="confirmSubmitCart()" aria-label="Submit Order">Submit Order</button>
        </form>
      {% endif %}
    {% else %}
      <tr>
        <td colspan="{% if user_id == current_user.id %}3{% else %}2{% endif %}">
          The cart is empty. {% if user_id == current_user.id %} Start shopping now! {% endif %}
        </td>
      </tr>
    {% endif %}
  </tbody>
</table>

{% if cart_items and user_id == current_user.id %}
  <form action="{{ url_for('cart.clear_cart') }}" method="POST" id="clear-cart-form">
    <button type="button" class="btn btn-danger" onclick="confirmClearCart()" aria-label="Clear Cart">Clear Cart</button>
  </form>
{% endif %}

<script>
  document.addEventListener('DOMContentLoaded', function () {
    // location.reload()
  });
  function confirmClearCart() {
    if (confirm("Are you sure you want to clear your entire cart?")) {
      document.getElementById('clear-cart-form').submit();
    }
  }
</script>

<script>
  function confirmSubmitCart() {
    if (confirm("Are you sure you want to submit your order?")) {
      document.getElementById('submit-cart-form').submit();
    }
  }
</script>

{% endblock %}
