{% extends "base.html" %}

{% block content %}
<head>
  <link rel="stylesheet" href="../static/css/cart.css">
</head>

<!-- Dynamically change the heading based on user_id -->
<h2>
  {% if user_id == current_user.id %}
    Your Cart:
  {% else %}
    This Person's Cart (User ID: {{ user_id }}):
  {% endif %}
</h2>

<table class='table table-hover table-bordered container'>
  <thead class="thead-dark">
    <tr>
      <th scope="col">Product ID</th>
      <th scope="col">Quantity</th>
    </tr>
  </thead>
  <tbody>
    {% if cart_items %}
      {% for item in cart_items %}
        <tr>
          <th scope="row">{{ item.product_id }}</th>
          <td>{{ item.quantity }}</td>
        </tr>
      {% endfor %}
    {% else %}
      <tr>
        <td colspan="3">The cart is empty.</td>
      </tr>
    {% endif %}
  </tbody>
</table>
{% endblock %}
