{% extends "base.html" %}

{% block content %}

<head>
  <link rel="stylesheet" href="../static/css/index.css">
</head>

<br><br>
{% if current_user.is_authenticated %}
<p>great success</p>
{% else %}
<p><a href="{{ url_for('users.login') }}">Log in</a> get started</p>
{% endif %}


<br><br>
<!-- <h2>Products for sale:</h2>
<table class='table table-hover table-bordered container'>
  <thead class="thead-dark">
    <tr>
      <th scope="col">Product ID</th>
      <th scope="col">Product Name</th>
      <th scope="col">Price</th>
    </tr>
  </thead>
  <tbody>
    {% for product in avail_products%}
      <tr>
        <th scope="row">{{product.id}}</th>
        <td>{{product.name}}</td>
        <td>{{product.price}}</td>
      </tr>
    {% endfor %}
  </tbody>
</table> -->


<form action="{{ url_for('productSearch.search_products') }}" method="get">
  <div class="top-k-container">
    <div class="filter-text">Search top k most expensive products: </div>
    <input type="text" class="top-k-input" id="top_k_expensive" name="top_k_expensive" placeholder="Enter integer k, (or leave blank for all)">
    <button type="submit" class="btn btn-primary btn-sm">filter</button>
  </div>
</form>  

<br></br>

<form action="{{ url_for('purchaseSearch.search_purchases') }}" method="get">
  <div class="form-group">
      <label for="user_id" style="color:black">Search Purchases by User ID:</label>
      <input type="text" class="form-control" id="user_id" name="user_id" placeholder="Enter User ID">
      <button type="submit" class="btn btn-primary mt-2">Search</button>
  </div>
</form>

<!-- {% if current_user.is_authenticated %}
<h2>Your recent purchases:</h2>
<table class='table table-hover table-bordered container'>
  <thead class="thead-dark">
    <tr>
      <th scope="col">Purchase ID</th>
      <th scope="col">Product Name</th>
      <th scope="col">Price</th>
    </tr>
  </thead>
  <tbody>
    {% for purchase in purchase_history%}
      <tr>
        <th scope="row">{{purchase.id}}</th>
        <td>{{purchase.pid}}</td>
        <td>{{purchase.time_purchased}}</td>
      </tr>
    {% endfor %}
  </tbody>
</table>
{% else %}
<p><a href="{{ url_for('users.login') }}">Log in</a> to see your purchase history!</p>
{% endif %} -->

{% endblock %}
