{% extends "base.html" %}

{% block content %}

<head>
  <link rel="stylesheet" href="../static/css/index.css">
</head>

<br><br>
{% if not current_user.is_authenticated %}
  <div class="card text-center" style="max-width: 500px; margin: auto;">
    <div class="card-body">
      <h5 class="card-title">Get Started</h5>
      <p class="card-text">Please <a href="{{ url_for('users.login') }}" class="btn btn-primary">Log in</a> to access more features.</p>
    </div>
  </div>
{% endif %}

<br><br>
<div class="container-fluid">
  <div class="featured-products text-center">
    <h2>Featured Products</h2>
    
    <div class="row">
      <div class="col-md-3 mb-3">
        <div class="product-card">
          <div class="product-image-placeholder"></div>
          <h4>Product Name 1</h4>
          <p>$price placeholder</p>
        </div>
      </div>

      <div class="col-md-3 mb-3">
        <div class="product-card">
          <div class="product-image-placeholder"></div>
          <h4>Product Name 2</h4>
          <p>$price placeholder</p>
        </div>
      </div>

      <div class="col-md-3 mb-3">
        <div class="product-card">
          <div class="product-image-placeholder"></div>
          <h4>Product Name 3</h4>
          <p>$ price placeholder</p>
        </div>
      </div>

      <div class="col-md-3 mb-3">
        <div class="product-card">
          <div class="product-image-placeholder"></div>
          <h4>Product Name 4</h4>
          <p>$price placeholder</p>
        </div>
      </div>
    </div>
  </div>
</div>

{% endblock %}
