{% extends "base.html" %}

{% block content %}

<div class="container mt-4">
    <div class="card">
        <div class="card-header">
            <h2>{{ title }}</h2>
        </div>
        <div class="card-body">
            <div class="row mb-3">
                <div class="col-md-6">
                    <p><strong>UID:</strong> {{ current_user.id }}</p>
                </div>
            </div>

            <div class="row mb-3">
                <div class="col-md-6">
                    <p><strong>Name:</strong> {{ current_user.firstname }} {{ current_user.lastname }}</p>
                </div>
            </div>

            <div class="row mb-3">
                <div class="col-md-6">
                    <p><strong>Email:</strong> {{ current_user.email }}</p>
                </div>
            </div>

            <div class="row mb-3">
                <div class="col-md-6">
                    <p><strong>Address:</strong> {{ current_user.address }}</p>
                </div>
            </div>

            <div class="row mb-3">
                <div class="col-md-6">
                    <p><strong>Balance:</strong> ${{ current_user.balance }}
                        <a href="{{ url_for('myprofile.update_balance') }}" class="btn btn-sm btn-outline-dark">Update Balance</a>
                    </p>
                </div>
            </div>
            
            <div class="row mb-3">
                <div class="col-md-6">
                    <p><strong>Seller Status:</strong> 
                        {% if current_user.is_seller(current_user.id) %}
                            You are a seller.
                        {% else %}
                            You are not a seller. You must declare seller at registration.
                        {% endif %}
                    </p>
                </div>
            </div>

            <br/>
            <a href="{{ url_for('myprofile.update_profile') }}" class="btn btn-outline-dark">Edit Profile</a>
            <a href="{{ url_for('myprofile.purchase_history') }}" class="btn btn-outline-dark" role="button">View Purchase History</a>
            <a href="{{ url_for('myprofile.my_reviews') }}" class="btn btn-outline-dark">View My Reviews</a>
        </div>
    </div>
</div>

{% endblock %}
