{% extends "base.html" %}

{% block content %}

<head>
    <link rel="stylesheet" href="../static/css/product_details.css">
</head>

<article class="content">
<div class="main-container">

    <div class="left-pane">
        <img src="{{ product.image_url }}" alt="{{ product.name }}" style="width:80%;">
    </div>
    
    <div class="right-pane">
        <h2 id="name">{{ product.name }}</h2>
        
        <div class="rating-tag">
            <div class="rating">Rating: {{ product.ratings  | round(1) }} ({{ product.no_of_ratings }} ratings)</div>
            <div class="tags">
                #{{ product.main_category }}
            </div>
            <div class="tags">
                #{{ product.sub_category }}
            </div>
        </div>
        
        <div class="price"><b>$ </b>{{ product.price }}</div>
    
        <div class="description">
            <h3>Description:</h3>{{ product.description }}
        </div>    

        <div class="Sellers">
            <h4>Sellers</h4>
            <table id="seller-table" class="table">
                <thead class="thead-dark">
                    <tr>
                        <th scope="col">Seller ID</th>
                        <th scope="col">Quantity</th>
                    </tr>
                </thead>
                <tbody>
                    {% for seller in sellers_info %}
                        <tr>
                            <td>{{ seller.uid }}</td>
                            <td>{{ seller.quantity }}</td>
                        </tr>
                    {% endfor %}
                </tbody>
            </table>
        </div>
        <div>
            <td class="quantity-controls">
                <button type="button" class="increase-quantity">+</button>
                <span class="quantity-display">1</span>
                <button type="button" class="decrease-quantity">-</button>
            </td>
            <td class="add-to-cart">
                <!-- Form for adding product to cart -->
                <form method="POST" action="{{ url_for('cart.add_to_cart') }}">
                    <!-- Product ID -->
                    <input type="hidden" name="product_id" value="{{ product.id }}">
                    <!-- Quantity Input (hidden) -->
                    <input type="hidden" name="quantity" class="quantity-input" value="1">
                    <!-- Submit Button -->
                    <button type="submit">Add to Cart</button>
                </form>
            </td>
        </div>
        
    <!-- Reviews Section -->
    <h3>Reviews</h3>
    {% if feedbacks %}
        <table class="table">
            <thead>
                <tr>
                    <th>Review ID</th>
                    <th>User ID</th>
                    <th>Review</th>
                    <th>Rating</th>
                    <th>Review Time</th>
                </tr>
            </thead>
            <tbody>
                {% for review in feedbacks %}
                    <!-- <tr>
                        <th scope="row">{{ review.id }}</th>
                        <td>{{ review.user_id }}</td>
                        <td>{{ review.comment }}</td>
                        <td>{{ review.rating }}</td>
                        <td>{{ review.comment_time }}</td>
                    </tr> -->
                    <tr>
                        <th scope="row">{{ review.id }}</th>
                        <td>{{ review.uid }}</td>
                        <td>
                            {% if review.uid == current_user.id %}
                            <form id="change_comment" method="POST" action="{{ url_for('feedbackSearch.edit_comment') }}" enctype="multipart/form-data">
                                <div class="form-group">
                                    <input type="hidden" name="review_id" value="{{ review.id }}">
                                    <input type="hidden" name="curr_rating" value="{{ review.rating }}">
                                    <input type="hidden" name="product_id" value="{{ product.id }}">
                                    <input type="text" id="comment" name = 'comment' value="{{review.comment}}" required>
                                </div>
                                <button type="submit" class="btn btn-primary">Edit Review</button>
                                </form>
                                {% else %}
                                {{ review.comment }}
                            {% endif %}
    
                        </td>
                        <td>
                            {% if review.uid == current_user.id %}
                            <form id="change_rating" method="POST" action="{{ url_for('feedbackSearch.edit_rating') }}" enctype="multipart/form-data">
                                <div class="form-group">
                                    <input type="hidden" name="review_id" value="{{ review.id }}">
                                    <input type="hidden" name="curr_comment" value="{{ review.comment }}">
                                    <input type="hidden" name="product_id" value="{{ product.id }}">
                                    <div class="form-group">
                                        <label>Previous Rating: {{review.rating}}</label>
                                        <select class="form-control" id="rating_old" name="rating" required>
                                            <option value="1">1 - Poor</option>
                                            <option value="2">2 - Suboptimal</option>
                                            <option value="3">3 - Good</option>
                                            <option value="4">4 - Very Good</option>
                                            <option value="5">5 - Excellent</option>
                                        </select>
                                    </div>
                                </div>

                                <button type="submit" class="btn btn-primary">Edit Rating</button>
                                </form>
                        </td>
                        {% else %}
                        {{ review.rating }}
                            {% endif %}

                        <td>{{ review.comment_time }}</td>
                        <td> 
                            {% if review.uid == current_user.id %}
                            <form action="{{ url_for('feedbackSearch.delete_feedback') }}" method="POST" id="delete-review-form">
                                <input type="hidden" name="product_id" value="{{ review.pid }}">
                                <button type="button" class="btn btn-danger" onclick="deleteReview()">Delete Review</button>
                            </form>
                              </form>
                            {% endif %}
                            
                            <script>
                              function deleteReview() {
                                if (confirm("Are you sure you want to delete your review?")) {
                                  document.getElementById('delete-review-form').submit();
                                }
                              }
                            </script>
                        </td>
                    </tr>
                {% endfor %}
            </tbody>
        </table>
    {% else %}
        <p>No reviews yet.</p>
    {% endif %}
    
    <!-- To submit review !! -->
    <h3>Leave a Review</h3>
    <form action="{{ url_for('feedbackSearch.submit_feedback') }}" method="post">
        <input type="hidden" name="product_id" value="{{ product.id }}">
        <div class="form-group">
            <label for="comment">Comment:</label>
            <textarea class="form-control" id="comment" name="comment" required></textarea>
        </div>
        <div class="form-group">
            <label for="rating">Rating:</label>
            <select class="form-control" id="rating" name="rating" required>
                <option value="1">1 - Poor</option>
                <option value="2">2 - Suboptimal</option>
                <option value="3">3 - Good</option>
                <option value="4">4 - Very Good</option>
                <option value="5">5 - Excellent</option>
            </select>
        </div>
        <button type="submit" class="btn btn-primary">Submit Review</button>
    </form>
</div>

</article>


<script>
    document.addEventListener('DOMContentLoaded', function () {
        // Event listeners for quantity adjustments
        document.querySelectorAll('.increase-quantity').forEach(button => {
        button.addEventListener('click', function () {
            const row = this.parentElement; // div
            const quantityDisplay = row.querySelector('.quantity-display');

            const quantityInput = row.querySelector('.quantity-input');
            
            let quantity = parseInt(quantityInput.value);
            quantity += 1;
            quantityInput.value = quantity;
            quantityDisplay.textContent = quantity;
        });
        });

        document.querySelectorAll('.decrease-quantity').forEach(button => {
        button.addEventListener('click', function () {
            const row = this.parentElement; // div
            const quantityDisplay = row.querySelector('.quantity-display');

            const quantityInput = row.querySelector('.quantity-input');
            
            let quantity = parseInt(quantityInput.value);
            if (quantity > 1) {
            quantity -= 1;
            quantityInput.value = quantity;
            quantityDisplay.textContent = quantity;
            }
        });
        });
    });
</script>
{% endblock %}