{% extends "base.html" %}

{% block content %}
<h2>{{ product.name }}</h2>
<div>
    <img src="{{ product.image_url }}" alt="{{ product.name }}" style="width:200px;">
    <p>Price: ${{ product.price }}</p>
    <p>Description: {{ product.description }}</p>
    <p>Category: {{ product.main_category }}</p>
    <p>Rating: {{ product.ratings }} ({{ product.no_of_ratings }} ratings)</p>

    <!-- Reviews Section -->
    <h3>Reviews</h3>
    {% if feedbacks %}
        <table class="table">
            <thead>
                <tr>
                    <th>Review ID</th>
                    <th>User ID</th>
                    <th>Review</th>
                    <th>Rating</th>
                    <th>Review Time</th>
                </tr>
            </thead>
            <tbody>
                {% for review in feedbacks %}
                    <tr>
                        <th scope="row">{{ review.id }}</th>
                        <td>{{ review.uid }}</td>
                        <td>
                            {% if review.uid == current_user_id %}
                            <form id="change_comment" method="POST" action="{{ url_for('feedbackSearch.edit_comment') }}" enctype="multipart/form-data">
                                <div class="form-group">
                                    <input type="hidden" name="review_id" value="{{ review.id }}">
                                    <input type="hidden" name="curr_rating" value="{{ review.rating }}">
                                    <input type="hidden" name="product_id" value="{{ product.id }}">
                                    <input type="text" id="comment" name = 'comment' value="{{review.comment}}" required>
                                </div>
                                <button type="submit" class="btn btn-primary">Edit Review</button>
                                </form>
                            {% endif %}
    
                        </td>
                        <td>
                            {% if review.uid == current_user_id %}
                            <form id="change_comment" method="POST" action="{{ url_for('feedbackSearch.edit_rating') }}" enctype="multipart/form-data">
                                <div class="form-group">
                                    <input type="hidden" name="review_id" value="{{ review.id }}">
                                    <input type="hidden" name="curr_comment" value="{{ review.comment }}">
                                    <input type="hidden" name="product_id" value="{{ product.id }}">
                                    <div class="form-group">
                                        <label>Previous Rating: {{review.rating}}</label>
                                        <select class="form-control" id="rating_old" name="rating" required>
                                            <option value="1">1 - Poor</option>
                                            <option value="2">2 - Suboptimal</option>
                                            <option value="3">3 - Good</option>
                                            <option value="4">4 - Very Good</option>
                                            <option value="5">5 - Excellent</option>
                                        </select>
                                    </div>
                                </div>

                                <button type="submit" class="btn btn-primary">Edit Rating</button>
                                </form>
                        </td>
                            {% endif %}

                        <td>{{ review.comment_time }}</td>
                        <td> 
                            {% if review.uid == current_user_id %}
                            <form action="{{ url_for('feedbackSearch.delete_feedback') }}" method="POST" id="delete-review-form">
                                <input type="hidden" name="product_id" value="{{ review.pid }}">
                                <button type="button" class="btn btn-danger" onclick="deleteReview()">Delete Review</button>
                            </form>
                              </form>
                            {% endif %}
                            
                            <script>
                              function deleteReview() {
                                if (confirm("Are you sure you want to delete your review?")) {
                                  document.getElementById('delete-review-form').submit();
                                }
                              }
                            </script>
                        </td>
                    </tr>
                {% endfor %}
            </tbody>
        </table>
    {% else %}
        <p>No reviews yet.</p>
    {% endif %}
    
    <!-- To submit review !! -->
    <h3>Leave a Review</h3>
    <form action="{{ url_for('feedbackSearch.submit_feedback') }}" method="post">
        <input type="hidden" name="product_id" value="{{ product.id }}">
        <div class="form-group">
            <label for="comment">Comment:</label>
            <textarea class="form-control" id="comment" name="comment" required></textarea>
        </div>
        <div class="form-group">
            <label for="rating">Rating:</label>
            <select class="form-control" id="rating" name="rating" required>
                <option value="1">1 - Poor</option>
                <option value="2">2 - Suboptimal</option>
                <option value="3">3 - Good</option>
                <option value="4">4 - Very Good</option>
                <option value="5">5 - Excellent</option>
            </select>
        </div>
        <button type="submit" class="btn btn-primary">Submit Review</button>
    </form>
</div>

{% endblock %}
