{% extends "base.html" %}

{% block content %}
<h2>Purchases for User ID: {{ user_id }}</h2>

{% if error %}
    <div class="alert alert-danger" role="alert">
        {{ error }}
    </div>
{% else %}
    <table class='table table-hover table-bordered container'>
        <thead class="thead-dark">
            <tr>
                <th scope="col">Purchase ID</th>
                <th scope="col">Product ID</th>
                <th scope="col">Time Purchased</th>
                <th scope="col">Total Price</th>
            </tr>
        </thead>
        <tbody>
            {% for item in purchases_with_prices %}
            <tr>
                <th scope="row">{{ item.purchase.id }}</th>
                <td>{{ item.purchase.pid }}</td>
                <td>{{ item.purchase.time_purchased }}</td>
                <td>${{ "%.2f"|format(item.total_price) }}</td>
            </tr>
            {% endfor %}
        </tbody>
    </table>
{% endif %}
{% endblock %}